@model IEnumerable<MVC_SITE_INDZ.Models.ToDoTask>

@{
    ViewData["Title"] = "Список задач";
}

<h1>Список задач</h1>

<table class="table">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Опис</th>
            <th>Кінцева дата</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>@task.Deadline</td>
                <td>@(task.IsCompleted ? "Завершена" : "Незавершена")</td>
            </tr>
        }
    </tbody>
</table>
