@{
    ViewBag.Title = "¬х≥д";
}

<div class="d-flex justify-content-center">
    <h2>”в≥йти в св≥й обл≥ковий запис</h2>
</div>

<div class="d-flex justify-content-center mt-3">
    <form asp-action="Login" asp-controller="Account" method="post" class="p-4 border rounded shadow-sm bg-light w-50">
        <div class="mb-3">
            <label for="Username" class="form-label">≤м'€ користувача:</label>
            <input type="text" id="Username" name="username" class="form-control" placeholder="¬вед≥ть ≥м'€ користувача" required>
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">ѕароль:</label>
            <input type="password" id="Password" name="password" class="form-control" placeholder="¬вед≥ть пароль" required>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-30">”в≥йти</button>
        </div>
    </form>
</div>


@if (ViewBag.ErrorMessage != null)
{
    <div class="d-flex justify-content-center mt-3 text-danger">
        @ViewBag.ErrorMessage
    </div>
}
